.content_bar {
  //display: flex;
  //justify-content: space-between;
  margin: 30px 0;

  .breadcrumb {
    background: none;
    padding: 0;
  }

  .content_bar__title {
    h2 {

    }
    .breadcrumb {
      .breadcrumb-item {

      }
    }
  }

  .content_bar__sorting {
    select {
      height: 50px;
      width: 220px;
      margin-left: 10px;
      border-radius: 5px;
      overflow: hidden;
      border: solid 1px #eee;
      background: #fff;
      outline: none;
    }
  }
}