.banner {
    width: 790px;
    height: 131px;
    display: inline-block;
    margin: 0 auto;
}

.banner-img {
    background: url(/static/media/bunner.c52194f7.png) center center no-repeat;
    width: 100%;
    height: 131px;
    background-size: contain;
}

.banner-link {
    display: inline-block;
    width: 100%;
}